$moveAmount: 8px;
.container.cloud {

   img {
    animation-direction: alternate;
  }
  .base {
    animation-name: base-move;
    animation-duration: 17s;
  }

  .left {
    animation-name: left-move;
    animation-duration: 23s;
  }
  .right {
    animation-name: right-move;
    animation-duration: 11s;
  }
}
@function cloudRandom() {
  @return ((100*(random(100)-50))/10000) * $moveAmount;
}

@keyframes base-move {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes right-move {
  0% {
    transform: translate(cloudRandom(), cloudRandom());
  }
  25% {
    transform: translate(cloudRandom(), cloudRandom());
  }
  50% {
    transform: translate(cloudRandom(), cloudRandom());
  }
  75% {
    transform: translate(cloudRandom(), cloudRandom());
  }
  100% {
    transform: translate(cloudRandom(), cloudRandom());
  }
}

@keyframes left-move {
  0% {
    transform: translate(cloudRandom(), cloudRandom());
  }
  25% {
    transform: translate(cloudRandom(), cloudRandom());
  }
  50% {
    transform: translate(cloudRandom(), cloudRandom());
  }
  75% {
    transform: translate(cloudRandom(), cloudRandom());
  }
  100% {
    transform: translate(cloudRandom(), cloudRandom());
  }
}
