$animationDuration: 1.3s;
.container.rain {
   img {
    animation-duration: $animationDuration;
  }
  .r1 {
    animation-name: r1-move;
    animation-delay: -(0 * $animationDuration/4);
  }
  .r2 {
    animation-name: r2-move;
    animation-delay: -((1 * $animationDuration)/4);
  }
  .r3 {
    animation-name: r1-move;
    animation-delay: -((2 * $animationDuration)/4);
  }
  .r4 {
    animation-name: r2-move;
    animation-delay: -((3 * $animationDuration)/4);
  }
}

@keyframes r1-move {
  0% {
    transform: translate(0%, -30%);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(12%, 35%);
    opacity: 0;
  }
}
@keyframes r2-move {
  0% {
    transform: translate(0%, -30%);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(12%, 25%);
    opacity: 0;
  }
}
