@use '../styles/mixins.scss';

.forecast-container {
  @include mixins.inset(800px, 200px, #F6FDFE);
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 0.7em;
  gap: 0.7em;
}
