@use "sass:color";

@mixin raised-card($size, $background-color, $glow-color: null) {
  $light-color: color.scale($background-color, $lightness: 15%); 
  $dark-color: color.scale($background-color, $blackness: 15%); 
  $directional: $size * 0.1;
  $spread: $size * 0.2;

  width: $size;
  height: $size;
  background: $background-color;
  @if $glow-color {
    background: $glow-color;
    box-shadow: 0 0 ($size * 0.8) ($size * 0.2) rgba($glow-color, 0.3),
                $directional $directional $spread $dark-color,
                (-$directional) (-$directional) $spread $light-color
                
  } @else {
    box-shadow: $directional $directional $spread $dark-color,
                (-$directional) (-$directional) $spread $light-color;
  }
}
@mixin raised-indent-circle($size, $background-color) {
  $light-color: color.scale($background-color, $lightness: 15%); 
  $dark-color: color.scale($background-color, $blackness: 15%); 
  $directional: $size * 0.1;
  $spread: $size * 0.2;

  width: $size;
  height: $size;
  border-radius: 50%;
  background: linear-gradient(145deg, $dark-color, $light-color);
  box-shadow: $directional $directional $spread $dark-color,
              (-$directional) (-$directional) $spread $light-color;
}

.title {
  justify-self: flex-start;
}

.gauge-container {
  width: 100%;
  background-color: #F6FDFE;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  .label-container {
    position: absolute;
    width: 50%;
    height: 50%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 2em;
  }
  .gauge-body {
    position: relative;
    @include raised-indent-circle(250px, #F6FDFE);
    display: flex;
    justify-content: center;
    align-items: center;

    .nub-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      // transform: translate(25%, 75%)s
      .nub {
        @include raised-card(12px, #F6FDFE);
        width: 10%;
        height: 3%;
        &.active {
          @include raised-card(12px, #F6FDFE, #0FA3B1);
          width: 10%;
          height: 3%;
        }
        position: absolute;
        border-radius: 15px;
        // transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

}
